<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shoppay.sssystem">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- 要求当前设备必须要有NFC芯片 -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="25" />
    <application
        android:name="com.shoppay.sssystem.MyApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name="com.shoppay.sssystem.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shoppay.sssystem.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.NumRechargeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.VipXiaofeiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.HomeOldActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.NewBossCenterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.VipListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.VipDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.VipRechargeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!--<activity-->
            <!--android:name=".VipListActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Holo.Light.NoActionBar" />-->
        <activity
            android:name="com.shoppay.sssystem.BalanceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.FastConsumptionActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <!-- 添加这一条默认设置，能拦截当前页面所有扫描NFC的配置 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shoppay.sssystem.NumConsumptionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.shoppay.sssystem.VipCardActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <!-- 添加这一条默认设置，能拦截当前页面所有扫描NFC的配置 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.nfc.action.TAG_DISCOVERED" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <service android:name="com.shoppay.sssystem.wxpay.PayResultPollService"></service>
        <receiver android:name="com.shoppay.sssystem.wxpay.AlarmReceiver"></receiver>
    </application>

</manifest>